node_modules
dist
artifacts
cache
out
broadcast
typechain-types
*.sqlite
.env
coverage
contracts/echidna-corpus/
.trash/
contracts/crytic-export/

# Local Netlify folder
.netlify
.agents/

.worktrees/
.neon
